<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../Icones/fontawesome.css">
    <link rel="stylesheet" href="../vendor/CSS/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../vendor/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Mockup, second page</title>
</head>
<body>
    <div class="container-fluid">    
        <!--Gestion de la NavBar-->
        <div class="row px-1 py-2 row1">
            <div class="col-sm-2">
                <p class="h5 text-primary para2">e<span class="text-white">-Afrika</span>TV</p>
            </div>
            <div class="col-sm-5">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="    Rechercher sur e-Afrika tv" class="form-control rounded-0">
                    <button type="button" class="btn text-primary pe-4 bg-light rounded-end-5 border-0"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="col-sm-2">
                <select name="choix" id="choix" class="select-form border border-1 border-primary p-1 bg-transparent text-primary">
                    <option value="Choix" selected disabled>CHoisir un pays</option>
                    <option value="France">France</option>
                    <option value="Canada">Canada</option>
                    <option value="Espagne">Espagne</option>
                </select>
            </div>
            <div class="col-sm-2">
                <p class="h5 text-white">Hello Angela <span><i class="fas fa-user-alt text-primary" ></i></span></p>
            </div>
            <div class="col-sm-1">
                <p class="h5 text-white">Langue</p>
            </div>
        </div>
        <!--Fin de la gestion de la navbar-->

        <div class="row ">
            <div class="col-sm-3 mt-2 col1">

                <!--premier block-->
                <div class="ul">
                    <ul class="nav flex-column py-3 px-4">
                        <li class="nav-item">
                           <span><i class="fas fa-home"></i></span>
                            <a href="index2.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fab fa-gripfire"></i></span>
                            <a href="#">Nouveautés</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-play-circle"></i></span>
                            <a href="#">En direct</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-calendar-alt"></i></span>
                            <a href="#">Historique</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <!--Fin du premier block-->

                <!--Gestion du deuxieme block-->
                <div>
                    <p class="h5 text-info">LE MEILLEUR DE e-Afrika TV</p>
                    <ul class="nav flex-column px-4 py-2">
                        <li class="nav-item">
                           <span><i class="fas fa-play-circle text-info" style="font-size: 24px;"></i></span>
                            <a href="#">Vidéos Favorites</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-newspaper text-info" style="font-size: 24px;"></i></span>
                            <a href="#recom">Recommandations</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-book-reader text-info" style="font-size: 24px;"></i></span>
                            <a href="#suivre">A Regarder Plus Tard</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-heart text-info" style="font-size: 24px;"></i></span>
                            <a href="#">Abonnements</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-tv text-info" style="font-size: 24px;"></i></span>
                            <a href="#">Les chaines de e-Afrika TV</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <!--Fin de gestion du deuxieme block-->

                <!--Gestion du troisieme block-->
                <div>
                    <ul class="nav flex-column px-4 py-2">
                        <p class="h5 text-info">MES ABONNEMENTS</p>
                        <li class="nav-item">
                           <span><i class="fas fa-caret-right text-info"  style="font-size: 20px;"></i></span>
                            <a href="#">Télécoms</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-caret-right text-info" style="font-size: 20px;"></i></span>
                            <a href="#">Agro-alimentaire</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-caret-right text-info" style="font-size: 20px;"></i></span>
                            <a href="#">BTP</a>
                        </li>
                        <li class="nav-item">
                            <span><i class="fas fa-caret-right text-info" style="font-size: 20px;"></i></span>
                            <a href="#">Industrie Textile</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <!--Fin de gestion du troisieme block-->

                <!--Gestion du quatrieme block-->
                <div class="px-4 ms-5">
                    <button type="button" class="btn btn-outline-info rounded-0  text-dark">Se connecter</button>
                </div>
                <hr>
                <!--Fin de gestion du quatrieme block--> 

                <!--Gestion du dernier block-->
                <div>
                    <ul class="nav flex-column px-4 py-2">
                        <li>
                           <span><i class="fas fa-sun text-dark" style="font-size: 22px;"></i></span>
                            <a href="#">Paramètres</a>
                        </li>
                        <li>
                            <span><i class="fas fa-question-circle text-dark" style="font-size: 22px;"></i></span>
                            <a href="#">Aide</a>
                        </li>
                        <li>
                            <span><i class="fas fa-comment-alt text-dark" style="font-size: 22px;"></i></span>
                            <a href="#">Votre avis</a>
                        </li>
                    </ul>
                </div>
                <!--Fin de gestion du dernier block-->
            </div>
            <!--Fin de la sidebar--> 

            <!--Gestion du body--> 

            <div class="col-sm-9 mt-4 body">
                <!--Gestion du body - the first part-->
                <div class="container">
                    <div class="row ms-5 text-justify" id="recom">
                        <p class="h5 para1 ms-2 mb-4">Recommandations</p>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-secondary">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                   
                        <hr class="mt-4">
                    </div>
                    <!--Fin de gstion du body-->
                
                    <!--Gestion du body - the last-->

                    <div class="row ms-5 text-justify" id="Suivre">
                        <p class="h5 para1 ms-2 mb-4 mt-4">Continuer à regarder</p>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../Images_Videos/image1.jpeg" alt="image1" class="mb-2" width="124%">
                            <h6 class="fw-bold">E-Afrika - the next teep</h6>
                            <span class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                            <span class="small text-muted">100 M de vues</span>
                        </div>
                   
                    </div>
                    <hr class="mt-5 hr1">
                    <!--Fin de gestion du body - the last-->
                </div>
                
            </div>
            <!--Fin de gestion du body--> 

            <!--Gestion du footer--> 
            <div class="row p-4">
            <div class="col-sm-3 col2">
                <p class="h6 text-secondary"><b>A propos de e-Afrika TV</b></p>
                <span class="ms-5 "><a href="#">Qui nous sommmes?</a></span><br>
                <span class="ms-5"><a href="#">Conditions générales d'utilisation</a></span><br>
                <span class="ms-5"><a href="#">Politique de confidentialité</a></span><br>
            </div>
            <div class="col-sm-3 text-center col2">
                <p class="h6 text-secondary"><b>Suivez-nous</b></p>
                <span class="text-center "><a href="#">Youtube</a></span><br>
                <span class="text-center "><a href="#">Instagram</a></span><br>
                <span class="text-center "><a href="#">Facebook</a></span><br>
                <span class="text-center "><a href="#">Twitter</a></span><br>
                <span class="text-center "><a href="#">Linkdlin</a></span><br>
            </div>
            <div class="col-sm-3 col2">
                <p class="h6 text-secondary"><b>Contactez-nous</b></p>
                <span class="ms-4"><a href="#">e-mail: data@e-afrika.com</a></span><br>
                <span class="ms-4"><a href="#">Hotline: +239 699 99 84 03</a></span>
            </div>
            <div class="col-sm-3">
                <p class="h6 text-secondary"><b>Alertes</b></p>
                <form>
                    <div class="input-group  input-group-sm ms-3">
                        <button type="button" class="btn bg-secondary border-right-0 rounded-start w-1 px-4">e-mail</button>
                        <input type="email" class="form-control " name="email">
                    </div>

                    <div class="input-group  input-group-sm ms-3 mt-4">
                        <button type="button" class="btn bg-secondary border-right-0 rounded-start w-1 px-4">Phone</button>
                        <input type="text" class="form-control " name="Phone">
                    </div>
                </form>
            </div>
            <!--Fin de gestion du footer--> 

        </div>
    </div>
</body>
</html>